<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{js/dictation.js}"></script>
    <title>语音录入</title>
</head>
<body>
<table class="table">
    <legend>
        <strong>语音录入</strong>
    </legend>
    <input type="button" value="录入单词" onclick="add()">
    <thead>
    <tr>
        <th>ID</th>
        <th>单词</th>
        <th>创建时间</th>
        <th>删除状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l,userStat : ${list}">
        <td th:text="${l.id}">55</td>
        <td><a th:text="${l.word}" th:id="'t_'+${l.id}"></a></td>
        <td th:text="${l.creationTime}"></td>
        <td th:text="${l.deletedState}"></td>
        <td>
            <input type="button" value="修改" onclick="edit()">
            <input type="button" value="删除" onclick="del()">
            <input type="button" value="播放" th:onclick="|play(${l.id})|">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>