<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{js/dictation.js}"></script>
    <script th:src="@{jquery-3.3.1.js}"></script>
    <script th:src="@{layer/layer.js}"></script>
    <link rel="stylesheet" href="css/dictation.css" type="text/css"/>
    <title>语音录入</title>
</head>

<body>
<table class="table" border="1" style="border: #8D8D8D;border-collapse: collapse">
    <legend>
        <strong>语音录入</strong>
    </legend>
    <input type="button" class="button" value="录入单词" onclick="add()">
    <thead>
    <tr>
        <th>ID</th>
        <th>单词</th>
        <th>创建时间</th>
        <th>删除状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l,userStat : ${list}">
        <td th:text="${l.id}">55</td>
        <td><a th:text="${l.word}" th:id="'t_'+${l.id}"></a></td>
        <td th:text="${l.creationTime}"></td>
        <td th:text="${l.deletedState}==0?'正常':'已删除'" th:id="'del_'+${l.id}"></td>
        <td>
            <input type="button" class="button" value="修改" th:onclick="|edit(${l.id})|">
            <input type="button" class="button-red" value="删除" th:onclick="|del(${l.id})|">
            <input type="button" class="button" value="播放" th:onclick="|play(${l.id})|">
        </td>
    </tr>
    </tbody>
</table>

<div id="add" style="display:none;">
    请输入单词：
    <form>
        <input type="text" id="word"><br/><samp id="samp1"></samp>
        <input type="button" class="button" value="+" id="j">
        <input type="button" class="button" value="提交" id="but">
    </form>
</div>
<div id="updata" style="display:none;">
    <form>
        <samp id="samp2"></samp>
        <input type="button" class="button" value="提交" id="updataword">
    </form>

</div>
</body>
</html>
