<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>语音录入</title>
</head>
<body>
<table class="table">
    <legend>
        <strong>语音录入</strong>
    </legend>
    <input type="button" value="修改" onclick="">
    <input type="button" value="删除" onclick="">
    <thead>
    <tr>
        <th>ID</th>
        <th>单词</th>
        <th>创建时间</th>
        <th>删除状态</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="">
        <th scope="" th:text=""></th>
        <td><a th:href="" th:text=""></a></td>
        <td th:text=""></td>
        <td th:text=""></td>
    </tr>
    </tbody>
</table>
</body>
</html>