<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dictation.dictation.domain.Dictation">
    <insert id="insertWord" parameterType="com.dictation.dictation.domain.Dictation">
        insert into t_dictation values (#{word},#{creationTime},#{deletedState})
    </insert>

    <delete id="deleteWord">
        delete  from t_dictation where id=#{id}
    </delete>

    <select id="findAll" resultType="com.dictation.dictation.domain.Dictation">
        select * from t_dictation
    </select>

    <select id="findByid">
        select * from t_dictation where id=#{id}
    </select>
</mapper>